:root {
  --black100: hsla(225, 14%, 12%, 1);
  --black200: hsla(225, 14%, 14%, 1);
  --black300: hsla(225, 14%, 16%, 1);
  --black400: hsla(225, 14%, 18%, 1);
  --black500: hsla(225, 14%, 20%, 1);
  --black600: hsla(225, 14%, 22%, 1);
  --black700: hsla(225, 14%, 24%, 1);
  --black800: hsla(225, 14%, 26%, 1);
  --black900: hsla(225, 14%, 28%, 1);

  --white100: hsla(225, 14%, 100%, 1);
  --white200: hsla(225, 14%, 100%, 0.8);

  --lue100: hsla(210, 100%, 37%, 1);
  --blue200: hsla(210, 100%, 33%, 1);
  --blue300: hsla(210, 100%, 35%, 1);
  --blue400: hsla(210, 100%, 33%, 0.5);

  --padding-large: 20px;
  --padding-medium: 10px;
  --padding-small: 5px;

  --transition-time: 0.3s;
}